<html>

<body>
    <img src="../../public/image/Page.png" alt="Something went wrong..." height="800" width="1550" style="margin:-10px;">
    <li style="margin-top: -524px;padding-left: 689px;font-size: 13px;"><a href="http://localhost:4200/user/companyID/queueId/register" target="_blank">Register to the queue</a></li>
</body>

</html>