html, body {
    width: 100%;
    height: 100%;
}

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

$enable-rounded: false;
$link-color: #0eb15f;
$link-hover-color: #05944c;

$theme-colors: (
  "primary": #0eb15f
);

@import "node_modules/bootstrap/scss/bootstrap";

label {
    font-weight: lighter;
    text-transform: uppercase;
}

.active {
    background-color: map-get($theme-colors, primary);
    color: #fff
}

div.clickable {
    background: #fff;
    padding: 1em;
    position: relative;
}

div.clickable:hover {
    cursor: hand;
    cursor: pointer;
    background-color: map-get($theme-colors, primary);
    color: #fff;
}

a.divLink {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    z-index: 10;
    background-color: white;
    opacity: 0;
    filter: alpha(opacity=0);
}